.page-header{
  display: block;
  padding : 1em;
  background: lightgray;
}
.content-section {
  width:100%;
  padding: 1em ;
}
.content-section-a{
  background : yellow;
}
.content-section-b{
  background : pink;
}
.page-footer {
  padding:1em;
  background : yellowgreen;
}
.global-menu-link{
  display: block;
  margin-bottom:5px;
  background: white;
}
